@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HerPortal.Models.AlphabetFilterViewModel;

<div class="govuk-grid-row" style="margin-bottom: 20px">
  @foreach (var alphabet in Model.AlphabetHalves)
  {
    <div class="govuk-grid-row">
      <ul class="alphabet">
        @foreach (var c in alphabet)
        {
          <li><a asp-action="Index" asp-controller="Home" asp-route-FilterChar="@c" class="govuk-body govuk-link--no-visited-state">@c</a></li>
        }
      </ul>
    </div>
  }
</div>