@using HerPortal.BusinessLogic.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TabsViewModel = HerPortal.Models.Components.NavTabsViewModel
@model TabsViewModel

<nav class="app-primary-navigation" aria-label="primary">
    <ul class="app-primary-navigation__list">
        @if (Model.Role == UserRole.DesnzStaff)
        {
            <li class="@Model.GetClass(TabsViewModel.Tab.LocalAuthorities)">
                <a asp-action="Index" class="app-primary-navigation__link" aria-current=@Model.GetAriaCurrent(TabsViewModel.Tab.LocalAuthorities) )>Manage Local Authorities</a>
            </li>
            <li class="@Model.GetClass(TabsViewModel.Tab.Consortiums)">
                <a asp-action="Index" class="app-primary-navigation__link" aria-current=@Model.GetAriaCurrent(TabsViewModel.Tab.Consortiums) )>Manage Consortiums</a>
            </li>
        }
        <li class="@Model.GetClass(TabsViewModel.Tab.ReferralFiles)">
            <a asp-action="Index" class="app-primary-navigation__link" aria-current=@Model.GetAriaCurrent(TabsViewModel.Tab.ReferralFiles) )>Referral Files</a>
        </li>
        <li class="@Model.GetClass(TabsViewModel.Tab.SupportingDocuments)">
            <a asp-action="Index" class="app-primary-navigation__link" aria-current=@Model.GetAriaCurrent(TabsViewModel.Tab.SupportingDocuments) )>Supporting Documents</a>
        </li>
    </ul>
</nav>
