@model HerPortal.Models.AdminViewModel
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Admin - Home Energy Retrofit Portal BETA";   
}


@section BeforeMain {
    <nav class="app-primary-navigation" aria-label="primary">
        <ul class="app-primary-navigation__list">
            <li class="app-primary-navigation__item app-primary-navigation__item--current">
                <a asp-action="Index" class="app-primary-navigation__link" aria-current="page">Referral files</a>
            </li>
            <li class="app-primary-navigation__item">
                <a asp-action="SupportingDocuments" class="app-primary-navigation__link">Supporting documents</a>
            </li>
        </ul>
    </nav>
}

<p>Admin Homepage</p>
