@model HerPortal.Models.LocalAuthoritiesViewModel
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using HerPortal.BusinessLogic.Models
@{
    ViewBag.Title = "Admin - Home Energy Retrofit Portal BETA";   
}


@section BeforeMain {
    <nav class="app-primary-navigation" aria-label="primary">
        <ul class="app-primary-navigation__list">
            <li class="app-primary-navigation__item app-primary-navigation__item--current">
                <a asp-action="Index" class="app-primary-navigation__link" aria-current="page">Local Authorities</a>
            </li>
            <li class="app-primary-navigation__item">
                <a asp-action="Users" class="app-primary-navigation__link">Users</a>
            </li>
            <li class="app-primary-navigation__item">
                <a asp-action="ExportAll" class="app-primary-navigation__link">Export All</a>
            </li>
        </ul>
    </nav>
}

<div class="horizontally-scrollable">
    @await Html.GovUkTable(new TableGovUkViewModel
        {
            Head = new List<TableCellViewModel>
            {
                new()
                {
                    Text = "Name"
                },
                new()
                {
                    Text = "State"
                },
                new()
                {
                    Text = "Actions"
                }
            },
            Rows = Model.LocalAuthorities.Select(la => new TableRowViewModel
            {
                Row = new List<TableCellViewModel>
                {
                    new()
                    {
                        Text = LocalAuthorityData.LocalAuthorityNamesByCustodianCode[la.CustodianCode]
                    },
                    new()
                    {
                        Html = @<text>@(await Html.GovUkTag(new TagViewModel { Classes = "govuk-tag--green", Text = "Active" }))</text>
                        
                    },
                    new()
                    {
                        Html = @<text>@(await Html.GovUkButton(new ButtonViewModel { Text = "Edit" }))</text>
                    },
                }
            }).ToList()
        }
    )
</div>
