@model HerPortal.Models.LocalAuthoritiesViewModel
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using HerPortal.BusinessLogic.Models.Enums
@using HerPortal.Controllers
@using HerPortal.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Routing
@{
    ViewBag.Title = "Admin - Home Energy Retrofit Portal BETA";   
}


@section BeforeMain {
    @await Html.PartialAsync("Components/_Tabs", new NavTabsViewModel(NavTabsViewModel.Tab.LocalAuthorities, UserRole.DesnzStaff))
}

<div class="govuk-grid-row">
    <aside class="govuk-grid-column-one-third">
        @await Html.PartialAsync("Components/_MultiRegionFilter", new MultiRegionFilterViewModel(Model.LocalAuthorities))
    </aside>
    <div class="govuk-grid-column-two-thirds">
        <div class="horizontally-scrollable">
            @await Html.GovUkTable(new TableGovUkViewModel
                {
                    Head = new List<TableCellViewModel>
                    {
                        new()
                        {
                            Text = "Name"
                        },
                        new()
                        {
                            Text = "Status"
                        },
                        new()
                        {
                            Text = "Actions"
                        }
                    },
                    Rows = Model.LocalAuthorities.Select(la => new TableRowViewModel
                    {
                        Row = new List<TableCellViewModel>
                        {
                            new()
                            {
                                Text = la.Name
                            },
                            new()
                            {
                                Html = @<text>@await Html.GovUkTag(la.Status switch
                                              {
                                                  LocalAuthorityStatus.Live => new TagViewModel { Classes = "govuk-tag--green", Text = "Live" },
                                                  LocalAuthorityStatus.Pending => new TagViewModel { Classes = "govuk-tag--yellow", Text = "Pending" },
                                                  _ => new TagViewModel { Classes = "govuk-tag--red", Text = "Not Taking Part" },
                                              })</text>
                            },
                            new()
                            {
                                Html = @<div>
                                    <a href="@Url.Action(nameof(HomeController.LocalAuthorityGet), "Home", new RouteValueDictionary(new { id = la.Id }))">Status</a>
                                    <a href="@Url.Action(nameof(HomeController.LocalAuthorityGet), "Home", new RouteValueDictionary(new { id = la.Id }))">Users</a>
                                </div>
                            },
                        }
                    }).ToList()
                }
            )
        </div>

    </div>
</div>
