@model HerPortal.Models.HomepageViewModel
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using HerPortal.BusinessLogic.Models.Enums
@using HerPortal.Models
@{
    if (Model.PageUrls.Length > 1)
    {
        ViewBag.Title = $"Referral files - Page {Model.CurrentPage} of {Model.PageUrls.Length} - Home Energy Retrofit Portal BETA";
    }
    else
    {
        ViewBag.Title = "Referral files - Home Energy Retrofit Portal BETA";    
    }
}

@section BeforeMain {
    @await Html.PartialAsync("Components/_Tabs", new NavTabsViewModel(NavTabsViewModel.Tab.ReferralFiles, UserRole.LocalAuthorityStaff))
}


@if (Model.ShouldShowBanner)
{
    @(await Html.GovUkNotificationBanner(new NotificationBannerViewModel
    {
        TitleText = "Welcome",
        Text = "Read all contents in the \"Supporting documents\" tab first",
    }))
}

@if (Model.ShouldShowFilters)
{
    <div class="govuk-grid-row">
        <aside class="govuk-grid-column-one-third">
            @await Html.PartialAsync("Components/_MultiRegionFilter", new MultiRegionFilterViewModel(Model.LocalAuthorities))
        </aside>
        <div class="govuk-grid-column-two-thirds">
            @await Html.PartialAsync("Components/_ReferralFilesSection", Model)
        </div>
    </div>
}
else
{
    @await Html.PartialAsync("Components/_ReferralFilesSection", Model)
}
