@model HerPortal.Models.UsersViewModel
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using HerPortal.Controllers
@using Microsoft.AspNetCore.Routing
@{
    ViewBag.Title = "Admin - Home Energy Retrofit Portal BETA";   
}


@section BeforeMain {
    <nav class="app-primary-navigation" aria-label="primary">
        <ul class="app-primary-navigation__list">
            <li class="app-primary-navigation__item">
                <a asp-action="Index" class="app-primary-navigation__link">Local Authorities</a>
            </li>
            <li class="app-primary-navigation__item app-primary-navigation__item--current">
                <a asp-action="Users" class="app-primary-navigation__link" aria-current="page">Users</a>
            </li>
            <li class="app-primary-navigation__item">
                <a asp-action="ExportAll" class="app-primary-navigation__link">Export All</a>
            </li>
        </ul>
    </nav>
}

@await Html.GovUkButton(new ButtonViewModel
{
    Href = Url.Action(nameof(HomeController.AddUserGet), "Home"),
    Text = "Add User"
}) 

<div class="horizontally-scrollable">
    @(await Html.GovUkTable(new TableGovUkViewModel
    {
        Head = new List<TableCellViewModel>
        {
            new()
            {
                Text = "Email"
            },
            new()
            {
                Text = "State"
            },
            new()
            {
                Text = "Actions"
            }
        },
        Rows = Model.Users.Select(user => new TableRowViewModel
        {
            Row = new List<TableCellViewModel>
            {
                new()
                {
                    Text = user.EmailAddress
                },
                new()
                {
                    Html = @<text>@await Html.GovUkTag(user.Enabled switch
                                  {
                                      true => new TagViewModel { Classes = "govuk-tag--green", Text = "Enabled" },
                                      false => new TagViewModel { Classes = "govuk-tag--red", Text = "Disabled" }
                                  })</text>
                },
                new()
                {
                    Html = @<div>
                               <a href="@Url.Action(nameof(HomeController.UserLaGet), "Home", new RouteValueDictionary(new { id = user.Id }))">Assign LAs</a>
                               <a href="@Url.Action(nameof(HomeController.UserEnabledGet), "Home", new RouteValueDictionary(new { id = user.Id }))">@(user.Enabled ? "Disable" : "Enable")</a>
                           </div>
                },
            }
        
        }).ToList()
    }
))
</div>

